**/.*
!.gitignore
!.git/
venv/
pretraining_on_unlabelled_data/gpt2
pretraining_on_unlabelled_data/model*
__pycache__/
*.pyc
finetuning_for_classification/*
!finetuning_for_classification/classification_finetuning.ipynb
=*
finetuning_for_instruction_following/*
!finetuning_for_instruction_following/instruction_finetuning.ipynb